<template name="day_Works">

  <section id="dayWork" style="display:{{editing}}">

      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
          <li class="nav-header">Gunluk calısma</li>
          <li class="divider"></li>
          {{#each words}}
          <li>
              <div class="input-prepend">
                <span class="add-on" id="wordPrev"><span class="icon-thumbs-down"></span></span>
                <a class="btn word-details" tabindex="-1" href="#">{{text}}</a>
                <span class="add-on"><span class="badge badge-success">({{boxNumber}})</span></span>
                <span class="add-on" id="wordNext"><span class="icon-thumbs-up"></span></span>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

  </section>

</template>
