<template name="word_List">
  <section id="menu">

      <form class="new-task form-search">
        <input type="text" name="text" class="input-medium search-query">
        <button type="submit" class="btn">Add</button>
      </form>

      <div class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
          {{#each words}}
          <li>
              <div class="input-prepend">
                <span class="add-on"><i id="wordDelete" class="icon-trash"></i></span>
                <a class="btn word-edit" tabindex="-1" href="#">{{text}}</a>
                <span class="add-on"><span class="badge badge-succes">({{boxNumber}})</span></span>
                <span class="add-on"><span class="word-right-move icon-thumbs-up"></span></span>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

  </section>
</template>
