<template name="word_List">
  <section id="menu" style="height:380px;">
    <div class="language-toggle">
    </div>

    <div class="list-todos">

      <form class="new-task todo-new">
        <input type="input" name="text" placeholder="Type to add new tasks" />
      </form>

      {{#each words}}
        <a class="list-todo" style="width: 200px;display: inline-block;">
          <span id="wordDelete" class="icon-trash"></span>
          <!-- {{#if list.incompleteCount}} -->
            <!-- <span class="count-list">{{list.incompleteCount}}</span> -->
          <span class="count-list">({{boxNumber}})</span>
          <!-- {{/if}} -->
          {{text}}
        </a>
        <a class="word-right-move" style="float:right;margin-right: -10px;" ><span class="icon-arrow-up"></span></a>
      {{/each}}

    </div>
  </section>
</template>

<template name="wordEdit">
  <div style="margin-left:600px;">
    {{#if editing}}
      <form class="new-task todo-new">
        <input type="input" name="text" placeholder="" value="{{tmpWord.text}}" />
        <input type="number" name="boxNumber" placeholder="" value="{{tmpWord.boxNumber}}" />
        <button value="Duzenle">Duzenle</button>
      </form>
      <button class="cancel" value="İptal">İptal</button>
    {{/if}}
</div>
</template>
