<body>
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <div class="container">

      <div class="row">
        <div class="span4">{{> word_List }}</div>
        <div class="span4">{{> day_Works }}</div>
        <div class="span4">{{> week_Works }}</div>
      </div>

      <div class="content-overlay"></div>


          {{#if isEditing}}
          <div class="pull-right">
            <form class="form-search updateTask">
              <div class="input-append">
                <input type="text" class="span2" name="text" placeholder="" value="{{tmpWord.text}}" />
                <input type="text" class="span2" name="boxNumber" placeholder="" value="{{tmpWord.boxNumber}}" />
                <input type="submit" class="btn" value="Save changes">
              </div>
            </form>
            <input type="submit" class="cancel btn" value="Cancel">
          </div>
          {{/if}}

    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

</body>
